@font-face {
  font-family: "Cursed Timer ULiL";
  src: url(CursedTimerUlil-Aznm.ttf);
}

body {
  margin: 0;
  background: #e5e5e5;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 575px;
  height: 385px;
  background: #1b244a;
  margin: 68px auto;
}

.board-title {
  width: 149px;
  height: 36px;
  font-family: "Verdana";
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
  color: #eeeeee;
}

.score-container {
  width: 155px;
  height: 120px;
  background: #080001;
  border-radius: 5px;
}

.points {
  width: 117px;
  height: 120px;
  font-family: "Cursed Timer ULiL";
  font-weight: 400;
  font-size: 90px;
  line-height: 127px;
  text-align: center;
  color: #f94f6d;
  display: block;
  margin: 0 auto;
}

.pts-btn-container {
  width: 155px;
  height: 45px;
  margin-top: 26px;
  margin-bottom: 69px;
  display: flex;
  justify-content: space-between;
}

.add-pts-btn {
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  background: #1b244a;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  font-family: "Cursed Timer ULiL";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #9aabd8;
  cursor: pointer;
}
